set tagstack

let mapleader='\'

" ####表示設定####
set showmode
set scrolloff=5
set clipboard+=unnamedplus,ideaput " share clipboard

" ####検索設定####
set ignorecase
set smartcase
set noincsearch
set hlsearch

" ####キーマッピング設定####
" dall で全削除
nmap == <Action>(ReformatCode)
nnoremap ZZ <Nop>
nnoremap ZQ <Nop>
nnoremap dall ggVG"0d
nnoremap <SPACE>p "0p
nnoremap <SPACE>P "0P
nnoremap <silent> <ESC><ESC> :noh<CR>
nnoremap q: <Nop>
nnoremap + <C-a>
nnoremap - <C-x>
nnoremap j gj
nnoremap k gk
nnoremap gj j
nnoremap gk k
nnoremap gb gT
nnoremap w [w
nnoremap b [b
nnoremap [w w
nnoremap [b b
nnoremap <SPACE>n :set relativenumber!<CR>
nmap <SPACE><SPACE> <Action>(CommentByLineComment)
vmap <SPACE><SPACE> <Action>(CommentByLineComment)
nnoremap <SPACE>* <C-]>
nnoremap <SPACE>; <C-]>
nnoremap 'M <C-T>
nmap <SPACE>r <Action>(RenameElement)
nmap <leader>t <Action>(ActivateTerminalToolWindow)
nmap <leader>r <Action>(Run)
nmap <leader>d <Action>(Debug)
if &ide =~? 'rustrover'
    nmap <leader>b <Action>(Rust.Build)
else
    nmap <leader>b <Action>(Build)
endif
nmap <leader>B <Action>(BuildSolutionAction)
nmap <leader>c <Action>(Coverage)
nmap <leader>sr <Action>(ChooseRunConfiguration)
nmap <leader>sd <Action>(ChooseDebugConfiguration)
nmap <leader>sb <Action>(ChooseActiveBuildConfiguration)
nmap <leader>ga <Action>(Git.Add)
nmap <leader>gc <Action>(Git.Commit)
nmap <leader>gf <Action>(Git.Fetch)
nmap <leader>gp <Action>(Git.Pull)
nmap <leader>p <Action>(ActivateProjectToolWindow)
nmap <leader>a <Action>(GotoAction)
nmap <F2> <Action>(GotoRelated)

nnoremap sl <C-w>l
nnoremap ss <C-w>w
nnoremap sw <C-w>w
nnoremap <S-Right> $
nnoremap <S-Left> ^
nnoremap <S-Up> gg
nnoremap <S-Down> G
" 挿入モード中の矢印は末端まで移動にする
inoremap <S-Right> <ESC>$i<RIGHT>
inoremap <S-Left> <ESC>^i<LEFT>
inoremap <S-Up> <ESC>ggi
inoremap <S-Down> <ESC>Gi

" プラグイン
" easymotion は別途 IdeaVim-EasyMotion プラグインを入れなくてはならない
set easymotion
map <leader><leader> <Plug>(easymotion-prefix)
set surround " vim-surround
set ideajoin

" 保存されているマクロを削除する (誤爆防止)
" yank register (@0) は消さない
let @1=''
let @2=''
let @3=''
let @4=''
let @5=''
let @6=''
let @7=''
let @8=''
let @9=''
let @a=''
let @b=''
let @c=''
let @d=''
let @e=''
let @f=''
let @g=''
let @h=''
let @i=''
let @j=''
let @k=''
let @l=''
let @m=''
let @n=''
let @o=''
let @p=''
let @q=''
let @r=''
let @s=''
let @t=''
let @u=''
let @v=''
let @w=''
let @x=''
let @y=''
let @z=''
